@use "@/Styles/variables" as *;
@use "@/Styles/mixins" as *;

.accountCard {
  position: relative;

  .banner {
    margin-top: 1rem;
    width: max-content;
    line-height: 1.5rem;
    background: linear-gradient(90deg, #3f3fff, #ff3f7f);
    color: $color-white;
    padding: 0.5rem 1.5rem;
    border-radius: 0 1.5rem 1.5rem 0;
    font-size: 0.875rem;
    font-weight: 500;
  }

  .accountInfo {
    @include flex-column;
    padding: 1.5rem;

    .infoItem {
      @include icon-spacing;
      margin-bottom: 1rem;

      .icon {
        color: $color-icon;
      }

      span {
        font-size: 1rem;
        font-weight: 600;
        color: $color-text;
      }
    }
  }
}
