// src/Components/Account/Account.module.scss
@use "@/Styles/variables" as *;
@use "@/Styles/mixins" as *;

.accountPage {
  display: flex;
  min-height: 100vh;
  background: $color-bg;
}

.accountMain {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

// Fullscreen-Overlay
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); // graues, halbtransparentes Deckglas
  @include flex-center; // zentriert Spinner
  z-index: 10; // über allen Cards/Content
}

/* Loader and error states */
.loading {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  color: $color-loading;
}
