@use "@/Styles/variables" as *;

.spinner {
  position: relative;
  z-index: 11;
  width: 3rem;
  height: 3rem;
  border: 0.5rem solid rgba(255, 255, 255, 0.3);
  border-top-color: $color-white;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
