// src/components/Sidebar.scss
@use "@/Styles/variables" as *;

.sidebar {
  width: 240px;
  background: $color-white;
  border-right: $border-light;
  padding: 2rem 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);

  nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 0.5rem;

        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          font-size: 1rem;
          color: $color-text;
          padding: 0.5rem;
          border-radius: 0.25rem;
          transition: background 0.2s, color 0.2s;

          .icon {
            margin-right: 0.75rem;
            fill: currentColor;
            transition: fill 0.2s;
          }

          &:hover {
            background: $color-hover-bg;
          }
        }
      }
    }
  }
}
